@import "tailwindcss";


@theme {
  --color-primary: #07451e;
  --color-coprimary: #082e36;
  --color-hover: #09612a;
}

.swiper-pagination-bullet {
  background: #9ca3af !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #07451e !important; 
}
