@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-arabic: var(--font-noto-arabic);

  --color-primary: #07451e;
  --color-coprimary: #082e36;
  --color-hover: #09612a;
}

.swiper-pagination-bullet {
  background: #9ca3af !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: var(--color-primary) !important; 
}

@layer base {
  body {
    @apply bg-[#fdfdfd] text-slate-900 antialiased;
  }
}

/* Add this to your global CSS file */
@media (max-width: 767px) {
  [data-aos] {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
  }
}